quitOnTopLevelReturn: true
git:
  merging:
    args: "--no-ff"
  paging:
    colorArg: always
    pager: diff-so-fancy
  log:
    showGraph: 'always'
    showWholeGraph: true
  branchLogCmd: 'git log --graph --all --color=always --abbrev-commit --decorate --date=relative --pretty=oneline {{branchName}} --'
  allBranchesLogCmd: 'git log --graph --all --color=always --abbrev-commit --decorate --date=relative  --pretty=oneline'
customCommands:
  - key: 'F'
    description: 'fast-forward selected branch up to current branch'
    command: 'git fetch . {{.CheckedOutBranch.Name}}:{{.SelectedLocalBranch.Name}}'
    context: 'localBranches'
    prompts:
      - type: 'confirm'
        title: 'Confirm:'
        body: 'Fast-forward `{{.SelectedLocalBranch.Name}}` up to `{{.CheckedOutBranch.Name}}`?'
